Importing modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
#read csv
df=pd.read_csv(r"C:\Users\Tasneem Fathima\Downloads\mtcars.csv")

In [12]:
df=df.rename(columns={'Unnamed: 0':'Model'})

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [20]:
df.index=df.Model

In [21]:
df=df.drop(columns='Model')
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Model,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

Calculate mean

In [23]:
#calculating mean of columns
df.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [27]:
#calculating mean of rows
mean_df=df.mean(axis=1)
mean_df.head()

Model
Mazda RX4            29.907273
Mazda RX4 Wag        29.981364
Datsun 710           23.598182
Hornet 4 Drive       38.739545
Hornet Sportabout    53.664545
dtype: float64

Median

In [28]:
#calculating median
median_df=df.median()
median_df

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

Mode

In [29]:
mode_df=df.mode()
mode_df.head()

    mpg  cyl   disp     hp  drat    wt   qsec   vs   am  gear  carb
0  10.4  8.0  275.8  110.0  3.07  3.44  17.02  0.0  0.0   3.0   2.0
1  15.2  NaN    NaN  175.0  3.92   NaN  18.90  NaN  NaN   NaN   4.0
2  19.2  NaN    NaN  180.0   NaN   NaN    NaN  NaN  NaN   NaN   NaN
3  21.0  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
4  21.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN

IQR measure

In [30]:
IQR=df['mpg'].quantile(0.75)-df['mpg'].quantile(0.25)

In [31]:
IQR

7.375

Variance

In [33]:
var=df['mpg'].var()
var

36.32410282258064

Standard deviation

In [34]:
std_dev=df['mpg'].std()

std_dev

6.026948052089104

Absolute deviations

In [35]:
abs_deviations=abs(df['mpg'].median()-df['mpg'])

In [36]:
abs_deviations.median()

3.6500000000000004